<div class="searcher-container">
    <form id="search_by_task_id" action="/emailTracker/results">
        <p>Buscar emails por el id de la tarea</p>
        <input type="text" name="task_id" />
        <input type="submit" value="Buscar" />
    </form>
    <form id="search_by_project_name" action="/emailTracker/results">
        <p>Buscar emails por nombre de projecto</p>
        <input type="text" name="project_name" />
        <input type="submit" value="Buscar" />
    </form>
    <form id="search_by_email_subject" action="/emailTracker/results">
        <p>Buscar emails por asunto</p>
        <input type="text" name="subject" />
        <input type="submit" value="Buscar" />
    </form>
</div>
