{% load sass_tags %}
<html lang="en">
  <head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">

    <!-- Components CSS -->
    <link rel="stylesheet" type="text/css" href="{% sass_src 'emailTracker/scss/_all.scss' %}">

    <!-- Custom Page headers -->
    {% block headers %}{% endblock headers %}

    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  <body>
    <nav class="navbar navbar-default navbar-static-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <a href="{% url 'emailTracker:home' %}" class="navbar-brand">Taiga Email Tracker</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          {% if user_logged %}
            <li><p class="navbar-text"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> {{ request.session.taiga_user_data.full_name }}</p></li>
            <li>
              <p class="navbar-btn">
                <a href="{% url 'emailTracker:logout' %}" class="btn btn-danger"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Sign out</a>
              </p>
            </li>
          {% endif %}
        </ul>
      </div>
    </nav>
    {% block content %}{% endblock content %}
  </body>
</html>
