{% extends "base.html" %}

{% block content %}

    <div class="container email-details">
        <h1>{{ taiga_user.username }}</h1>

        <div class="email-content">
            <table class="emails-list-container">
                <tr class="email-data-row">
                    <td>
                        <div class="header">ID de la tarea</div>
                    </td>
                    <td>
                        <div class="value">{{ email.task_id }}</div>
                    </td>
                </tr>
                <tr class="email-data-row">
                    <td>
                        <div class="header">Nombre del proyecto</div>
                    </td>
                    <td>
                        <div class="value">{{ email.project_name }}</div>
                    </td>
                </tr>
                <tr class="email-data-row">
                    <td>
                        <div class="header">Fecha</div>
                    </td>
                    <td>
                        <div class="value">{{ email.date }}</div>
                    </td>
                </tr>
                <tr class="email-data-row">
                    <td>
                        <div class="header">Email de origen</div>
                    </td>
                    <td>
                        <div class="value">{{ email.sender }}</div>
                    </td>
                </tr>
                <tr class="email-data-row">
                    <td>
                        <div class="header">Emails de destino</div>
                    </td>
                    <td>
                        <div class="value">{{ email.receivers }}</div>
                    </td>
                </tr>
                <tr class="email-data-row">
                    <td>
                        <div class="header">Emails de copia</div>
                    </td>
                    <td>
                        <div class="value">{{ email.copy_receivers }}</div>
                    </td>
                </tr>
                <tr class="email-data-row">
                    <td>
                        <div class="header">Asunto</div>
                    </td>
                    <td>
                        <div class="value">{{ email.subject }}</div>
                    </td>
                </tr>
            </table>

            <div class="email-text-container">
                <script>
                    var ht = `{{ email.text_html }}`;
                    ht = ht.split('&lt;').join('<');
                    ht = ht.split('&gt;').join('>');
                    ht = ht.split('&quot;').join('');
                    ht = ht.split('\n').join(' ');
                    document.write(ht);
                </script>
            </div>
        </div>
    </div>
{% endblock content %}
