<html lang="en">
  <head>
    <!-- Link to the Bootstrap CSS from a CDN -->
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css"
          rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <div class="header">
        <h3 class="text-muted">Login</h3>
      </div>
      <hr />
        <form role="form" action="{% url 'emailTracker:login'  %}" method="post">
          {% csrf_token %} <!-- CSRF token is rendered by Django in forms to avoid CSRF attacks -->
          {{ form.as_p }}
    		  <input type="submit" class="btn btn-default" value="Submit" />
  	    </form>
      </div>
    </div>
  </body>
</html>
