<html lang="en">
  <head>
    {% load bootstrap3 %}
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    {% bootstrap_messages %}
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-xs-offset-1 col-xs-10
                    col-sm-offset-2 col-sm-8
                    col-md-offset-3 col-md-6
                    col-lg-offset-4 col-lg-4">
          <h1>Login</h1>
          <form role="form" action="/emailTracker/login/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons submit='Entrar' %}{% endbuttons %}
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
