$white            : #FFFFFF;
$black            : #000000;

$green500         : #70a41c;

$purple500        : #8f99e3;

$blueSky          : #1cb0d3;
$blue800          : #24313C;
$blue500          : #4e5961;
$blue300          : #556270;


$red500           : #c90d3a;

$orange800		  : #924a00;
$orange500        : #cb7a10;
$orange450        : #d78100;
$orange400        : #F79D25;
$orange300        : #e5c59b;

$gray1000         : #f8f9f9;
$gray990          : #f7f7f7;
$gray950          : #f3f3f3;
$gray900          : #f0f0f0;
$gray870          : #ededed;
$gray850          : #e8e7e3;
$gray840          : #e4e4e4;
$gray837          : #e3e3e3;
$gray835          : #ebebeb;
$gray830          : #dfe1e3;
$gray827          : #dde0e2;
$gray825          : #dcdcdc;
$gray820          : #dadddf;
$gray800          : #d7d7d7;
$gray750          : #d5d5d5;
$gray730          : #c8c8c8;
$gray700          : #c6cace;
$gray670          : #c4c9ce;
$gray660          : #c2c7cb;
$gray650          : #b7bdc2;
$gray600          : #b5b9be;
$gray550          : #b2b2b2;
$gray500          : #aeb5bc;
$gray450          : #959ba2;
$gray400          : #949494;
$gray350          : #666f77;
$gray300          : #556270;
$gray200          : #4c575f;




// COMPONENTS / EMAILS_LIST
$color-EL-Primary    : $gray900;
$color-EL-Secondary  : $gray700;
$color-EL-Border     : $gray500;


// EMAIL DETAILS
$color-ED-Primary    : $gray900;
$color-ED-Secondary  : $gray700;
$color-ED-Border     : $gray500;
